{% extends "base.html" %}

{% block content %}
    <form action="" method="POST">{% csrf_token %}
        <p>Confirmar la eliminación de {{ proyecto }}</p>
        <button type="submit" class="btn btn-danger">Eliminar</button>
    </form>
{% endblock%}

{% block scripts %}
<script>
    $('a[href="{% url "proyectos" %}"]').parent().addClass("active");
</script>
{% endblock %}