{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{% if proyecto %}Modificar{% else %}Nuevo{% endif %} proyecto</h3>
                </div>

                <form action="" method="POST" role="form">{% csrf_token %}
                    <div class="box-body">
                        {{ form|crispy }}
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a href="javascript:history.back()" class="btn btn-default">Cancelar</a>
                        {% if proyecto %}
                            <a href="{% url "proyecto_eliminar" pk=proyecto.id %}" class="btn btn-danger pull-right">Eliminar</a>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    $('a[href="{% url "proyectos" %}"]').parent().addClass("active");
</script>
{% endblock %}