{% extends "base.html" %}

{% block contentheader %}
<h1>{{ proyecto.nombre }} <a href="{% url "proyecto_actualizar" pk=proyecto.id %}" class="btn btn-xs btn-default">Modificar</a></h1>
{% endblock %}

{% block content %}
    <div class="row">
        {% if proyecto.tareas %}
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Tareas</h3>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                                {% for tarea in proyecto.tareas.all %}
                                <tr>
                                    <td>{{ tarea.descripcion }}</td>
                                    <td>{{ tarea.terminada }}</td>
                                    <td>{{ tarea.avance }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% else %}
            <p>No hay tareas</p>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
<script>
    $('a[href="{% url "proyectos" %}"]').parent().addClass("active");
</script>
{% endblock %}