{% extends "base.html" %}

{% block contentheader %}
<h1>Proyectos</h1>
{% endblock %}

{% block content %}
    <div class="row">
        {% for proyecto in proyectos %}
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-green">
                    <span class="info-box-icon"><a href="{% url "proyecto" pk=proyecto.id %}"><i class="fa fa-bar-chart-o"></i></a></span>
                    <div class="info-box-content">
                        <span class="info-box-text">{{ proyecto.nombre }}</span>
                        <span class="info-box-number">{{ proyecto.tareas.count }} <small>tarea (s)</small></span>
                        {% if proyecto.tareas.count %}
                            <div class="progress">
                                <div class="progress-bar" style="width: {{ proyecto.avance  }}%"></div>
                            </div>
                            <span class="progress-description">{{ proyecto.avance }}%</span>
                        {% else %}
                            <div class="progress">
                                <div class="progress-bar" style="width: 0%"></div>
                            </div>
                            <span class="progress-description">0%</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-blue">
                <span class="info-box-icon"><a href="{% url "proyecto_nuevo" %}"><i class="fa fa-edit"></i></a></span>
                <div class="info-box-content">
                    <span class="info-box-text">Proyecto</span>
                    <span class="info-box-number">Nuevo</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    $('a[href="{% url "proyectos" %}"]').parent().addClass("active");
</script>
{% endblock %}