{% extends "base.html" %}

{% block contentheader %}
    <h1>Todas las tareas</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Tareas</h3>
                    <div class="box-tools"><a href="{% url "tarea_nueva" %}" class="btn btn-xs btn-default"><i class="fa fa-edit"></i> Nueva tarea</a></div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                            {% for tarea in tareas %}
                            <tr>
                                <td>{{ tarea.proyecto }}</td>
                                <td><a href="{% url "tarea_actualizar" pk=tarea.id %}">{{ tarea.descripcion }}</a></td>
                                <td>{{ tarea.terminada }}</td>
                                <td>{{ tarea.avance }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    $('a[href="{% url "tareas" %}"]').parent().addClass("active");
</script>
{% endblock %}