{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Proyectos y tareas</title>

    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "adminlte/css/AdminLTE.min.css" %}">
    <link rel="stylesheet" href="{% static "adminlte/css/skins/skin-blue.min.css" %}">

    <style>
        .info-box-icon a {
            color: #fff;
        }
    </style>
</head>
<body class="sidebar-mini skin-blue fixed">
<div class="wrapper">
    <header class="main-header">
        <a href="#" class="logo"><b>Tareas</b></a>

        <nav class="navbar navbar-static-top" role="navigation">
            <div class="navbar-custom-menu">
                <!-- aquí va el menú -->
            </div>
        </nav>
    </header>
    
    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu">
                <li><a href="{% url 'proyectos' %}"><i class="fa fa-bar-chart-o"></i> Proyectos</a></li>
                <li><a href="{% url 'tareas' %}"><i class="fa fa-list-ul"></i> Tareas</a></li>
            </ul>
        </section>
    </aside>

    <div class="content-wrapper">
        <section class="content-header">{% block contentheader %}{% endblock %}</section>
        <section class="content">{% block content %}{% endblock %}</section>
    </div>

    <footer class="main-footer">
        <strong>Tareas {% now "Y" %}.</strong> Todos los derechos reservados.
    </footer>
</div>

<script src="{% static "js/jquery-2.2.3.min.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "adminlte/js/app.js" %}"></script>
<script src="{% static "adminlte/js/slimscroll/jquery.slimscroll.min.js" %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>